.next
artifacts
cache
coverage
node_modules
out
dist
typechain-types
types/ethers-contracts
tsconfig.tsbuildinfo

.DS_Store
.env
.env.local
.env.*.local

deployments/default.*-plan.yaml
coverage/
lcov.info
costs-reports.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
